# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# This file uses the include directive to selectively
# enable features. When present, the included files will
# take effect and order of precedence determines which auth
# rules are applied.

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# trust local connections
local all  supabase_admin     scram-sha-256
local all  all                peer map=supabase_map

# route for just-in-time access
include_if_exists pg_hba_pam_local.conf

# trust localhost connections
host  all  all  127.0.0.1/32  trust
host  all  all  ::1/128       trust

# local network does not use just-in-time
host  all  all  10.0.0.0/8  scram-sha-256
host  all  all  172.16.0.0/12 scram-sha-256
host  all  all  192.168.0.0/16  scram-sha-256

# if ssl is enforced, these files will exist and take precedence
include_if_exists pg_hba_users_public_ssl.conf
include_if_exists pg_hba_pam_public_ssl.conf
include_if_exists pg_hba_public_ssl.conf

# otherwise, non ssl enforced rules will apply
include_if_exists pg_hba_users_public.conf
include_if_exists pg_hba_pam_public.conf
include_if_exists pg_hba_public.conf

# replication specific routes
host  replication  supabase_replication_admin  0.0.0.0/0  scram-sha-256
host  replication  supabase_replication_admin  ::0/0  scram-sha-256

# ultimately fallback to the original if none of the above exist
include_if_exists pg_hba.conf.orig
